body {
    background-image: url(https://images.ru.prom.st/313489782_w640_h640_flizelinovye-fotooboi-derevya.jpg);
    background-size: cover;

    font-family: 'Shizuru', cursive;
    font-size: 1.3vh;
    font-weight: normal;
    text-indent: 1px;
    letter-spacing: 1px;
    text-decoration-style: wavy;
    text-transform: capitalize;
    z-index: 100;
    opacity: 30;

}
#someImg
{
    display: none;
}


img
{
    object-fit: cover;
}
.Comment
{
    background: black;
    border: solid white;
    margin-left: 38%;
    width: 20vw;
    color: white;
}

.LocalSearchResult
{
    background: black;
    border: solid white;
    margin-left: 38%;
    width: 20vw;
    color: white;
}

.SessionSearchResult
{
    background: black;
    border: solid white;
    margin-left: 38%;
    width: 20vw;
    color: white;
}

{
    text-transform: uppercase ;

}

#ActorBase:hover
{
    text-transform: uppercase ;
}
#SongBase:hover
{
    text-transform: uppercase ;
}
#NP:hover
{
    text-transform: uppercase ;
}
#Gallery:hover
{
    text-transform: uppercase ;
}
#Base:hover
{
    text-transform: uppercase ;
}
.flex-container
{
    display: flex;
    flex-direction: row;
}

#flex-container > .flex-item
{
    -webkit-flex: auto;
    flex: auto;
    width: 5vw;
}

#flex-container > .raw-item
{
    width: 5rem;
}

.SongList
{
    width: 90%;
    display: grid;
    grid-template-columns: 10vw 8vw;

}

.Navigation
{

    background: #790000;
    width: 80vw;
    height: 10vh;
    margin-left: 10vw;
    text-align: center;
    border: solid white;
    overflow: scroll;

}
li
{
    display: inline-block;
}

.Link
{
    margin: 1.25vw;
    display: inline-block;
}
a {
    color:white
}
a:visited
{
    color:white;
}


.Content {

    background: url(https://forpost-sz.ru/sites/default/files/doc/2018/01/01/nrpngao.jpeg);
    background-repeat: round ;
    background-size: 100%;
    float: left;
    display: block;
    width: 80vw;
    height: 90vh;
    margin-left: 10vw;
    overflow: auto;
    line-height: normal;

    opacity: 90%;
    backdrop-filter: drop-shadow(40px 40px 50px #ff0000);
}
.Gallery
{
    overflow: visible;
}
.ImageLegend
{


}
.ImageLegend img
{
    width: 15vh;
    height: 30vh;
    position: relative ;
    margin: 2vw;

    float: left;

    margin-bottom: 10%;


    opacity: 90%;
}

.Image_of_Legend
{
    position: relative ;
    margin: 2vw;
    float: left;
    width: 1.5vw;
    height: 2.0vh;
    margin-bottom: 10%;

    display: flex;
    flex-direction: row;

    opacity: 90%;


}
img
{
    box-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #ffffff,
            0 0 82px #ffffff;

}

.Way_of_Legend:hover
{
    backdrop-filter: drop-shadow(4px 4px 10px red);
}

.Way_of_Legend
{
    color: floralwhite;
    position: relative;
    font-size: 90% ;
    margin: 2vw;
    display: inline-block;
    float: left;
    height: 30vh;
    width: 55vw;
}

.Hello_Legend
{
    color: floralwhite;
    position: relative;
    font-size: 100% ;
    margin: 1vw;
    display: inline-block;
    float: inside;
    height: 15vh;
    width: 45vw;
}

article {

    margin: 5px;
}

.Information {

    display: inline-block;

    text-align: center;
    font-size: 90%;

    width: 60vw;

}
.SongBox
{
    background: black;
    margin-left: 30%;
    color: white;
    border: solid white;
    width: 30vw;

    height: auto;
}

.SongText
{

    font-size: 90%;
    margin: 15%;
    margin-right: 3.5%;
    width: 20vw;
    text-align: center;

}

.Information:hover
{
    backdrop-filter: drop-shadow(4px 4px 10px red);

}

.Songs
{

    color: white;

    margin-top: 2.5%;
    float: right;
    display: inline-block;

    text-align: center;
    font-size: 90%;

    width: 10vw;
    height: 80vh;
}
.Songs:hover
{
    color: #fff;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #ff0000,
            0 0 82px #ff0000,
            0 0 92px #ff0000,
            0 0 102px #ff0000,
            0 0 151px #ff0000;
}

li:hover
{
    text-decoration: underline;
}

.link:active
{
    color: black;
}



@media screen and (max-width: 1200px) {
    .Image_of_Legend{
        display: none;
    }
    #SongAudio
    {
        display: none;
    }
    .Songs
    {

        color: white;

        float: right;
        display: inline-block;

        text-align: center;
        font-size: 90%;

        width: 40vw;
        height: 40vh;
    }
    .SongBox
    {
        width: 50vw;
    }
    .SongList
    {
        width: 30vw;
    }
    span
    {
        width: 30vw;
    }

    .SongText
    {

        font-size: 90%;
        margin: 30%;
        margin-right: 3.5%;
        width: 20vw;
        text-align: center;

    }

}


@media screen and (max-height: 800px) {
.Navigation
{
    font-size: 1.3vh;
    height: 20vh;
}

}

.preloader-1 {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    transition: all 0.5s;
    opacity: 1;
}
.preloader-1-remove {
    opacity: 0;
    z-index: -10;
}

.preloader-1 svg {
    overflow: visible;
    width: 100px;
    height: 150px;
}
.preloader-1 svg g {
    animation: preloader-1-slide 2s linear infinite;
}
.preloader-1 svg g:nth-child(2) {
    animation-delay: 0.5s;
}
.preloader-1 svg g:nth-child(2) path {
    animation-delay: 0.5s;
    stroke-dasharray: 0px 158px;
    stroke-dashoffset: 1px;
}
.preloader-1 svg path {
    stroke: url(#gradient);
    stroke-width: 20px;
    stroke-linecap: round;
    fill: none;
    stroke-dasharray: 0 157px;
    stroke-dashoffset: 0;
    animation: preloader-1-escalade 2s cubic-bezier(0.8, 0, 0.2, 1) infinite;
}
@keyframes preloader-1-slide {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(50px);
    }
}
@keyframes preloader-1-escalade {
    0% {
        stroke-dasharray: 0 157px;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 156px 157px;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dasharray: 156px 157px;
        stroke-dashoffset: -156px;
    }
}


@import url(https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500,700,900);



div#single-song-player div.bottom-container {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    height: 13vw;
    position: absolute;
    width: 60vw;
}
div#single-song-player div.bottom-container progress.amplitude-song-played-progress:not([value]) {
    background-color: #fff;
}
div#single-song-player div.bottom-container progress.amplitude-song-played-progress {
    background-color: #fff;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    border: none;
    position: absolute;
    z-index: -100;
}
div#single-song-player div.bottom-container progress[value]::-webkit-progress-bar {
    background-color: #fff;
}
div#single-song-player div.bottom-container progress[value]::-moz-progress-bar {
    background-color: #CD1E16;
}
div#single-song-player div.bottom-container progress[value]::-webkit-progress-value {
    background-color: #ff0000;
}
div#single-song-player div.bottom-container div.control-container {
    margin-top: 1%;
    padding-bottom: 3%;
}
div#single-song-player div.bottom-container div.control-container div.amplitude-play-pause {
    width: 2.2vw;
    height: 3vw;
    cursor: pointer;
    float: left;
    margin-left: 7%;
    margin-top: 2%;
}
div#single-song-player div.bottom-container div.control-container div.amplitude-play-pause:hover {
    opacity: .8;
}
.logo img {
    width: 10%;
    height: auto;
    cursor: pointer;
    position: absolute;
    right: 7%;
    top: 33%;
}
div#single-song-player div.bottom-container div.control-container div.amplitude-play-pause.amplitude-paused {
    background: url('https://res.cloudinary.com/dfiwfoxwx/image/upload/v1549657317/Life%20Coach/play.png');
    background-size: cover;
}
div#single-song-player div.bottom-container div.control-container div.amplitude-play-pause.amplitude-playing {
    background: url('https://res.cloudinary.com/dfiwfoxwx/image/upload/v1549657317/Life%20Coach/pause.png');
    background-size: cover;
}
div#single-song-player div.bottom-container div.control-container div.meta-container {
    float: none;
    width: calc(100% - 84px);
    text-align: left;
    color: #000;
    margin-top: 7%;
    padding-left: 19%;
}
div#single-song-player div.bottom-container div.control-container div.meta-container span[amplitude-song-info="name"] {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2vw;
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
    display: block;
}
div#single-song-player div.bottom-container div.control-container div.meta-container span[amplitude-song-info="artist"] {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-size: 2vw;
    text-transform: uppercase;
    color: #000;
    display: block;
}
div#single-song-player div.bottom-container div.control-container:after {
    content: "";
    display: table;
    clear: both;
}